.App {
  text-align: center;

}



ul{
  display: xflex;
  justify-content: space-around;
  flex-flow: column wrap;
}
.item_style{
  width: 90%;
  list-style: none;
  height: 35px;
  background-color: orange;
  color: #fff;
  margin: 10px 0px;
  cursor: pointer;
  line-height: 35px;
}
