body {
  margin: 0;
  background: whitesmoke;
}

header {
  height: 180px;
  display: flex;
  align-items: center;
  background: #6441a5;
}

header > img {
  height: 80px;
  margin-left: 10%;
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
}

.name {
  position: relative;
  width: 90%;
  margin: auto;
}

.name > img {
  width: 100%;
}

.name > h2 {
  position: absolute;
  widows: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.name > .bottom {
  bottom: 0;
}

.name > top {
  top: 0;
}

.mime-form > button {
  border: none;
  font-family: VT323, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white-space;
  background: #6441a5;
}
.mime-form > input::-whikit-input-placeholder {
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: center;
}

.meme {
  position: relative;
}

.meme .top {
  color: yellow;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.meme .bottom {
  color: yellow;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}
}
