.App {
  font-family: sans-serif;
  text-align: center;
}

form input {
  display: block;
  margin: 10px 0;
}
form label {
  margin-right: 20px;
}
form label input {
  display: inline-block;
  margin-right: 20px;
}
button {
  display: block;
  margin: 20px 0;
}
